* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #749b7e;
  --secondaryColor: rgb(199, 212, 209);
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Roboto";
  background-color: var(--white);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

a {
  text-decoration: none;
}
